:root {
  --primary: #D90429;
  --gold: #FFB703;
  --dark: #0D0F12;
  --light: #F8FAFC;
  --font-main: 'Plus Jakarta Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background: var(--light);
  color: var(--dark);
}
